<!DOCTYPE html>
<html>
<head>
	<title>Yelp Camp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <link rel="stylesheet" type="text/css" href="/styles//app.css"> -->
	<link rel="stylesheet" type="text/css" href="\styles\main.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Rammetto+One|Nanum+Gothic:800" rel="stylesheet">
	<link rel="icon" href="\images\\camping-program-icon.png">
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	<!-- JQuery -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</head>


<%
var login_signUp = "";
var logout = "hidden";
if(login){
	login_signUp = "hidden";
	logout = "";
}else{
	login_signUp = "";
	logout = "hidden";
}

var username = user ? user.username:"None";

%>

<body class="<%= page %>">
	<nav id="header" class="navbar sticky-top navbar-expand-lg navbar-light">
	  
	  <a class="navbar-brand" href="/"><img src="/images/camping-program-icon.png"><span class="name">YelpCamp</span></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto" style="margin-left:85%;">
	      <li class="nav-item">
	        <a style="color:white;" class="nav-link" href="/" role="button" data-toggle="modal" data-target="#loginModal" id="login" <%= login_signUp %>>Login</a>
	      </li>
	      <li class="nav-item">
	        <a style="color:white;" class="nav-link" href="/" role="button" data-toggle="modal" data-target="#signupModal" <%= login_signUp %>>Sign Up</a>
	      </li>
	      </li>
	      <li class="nav-item">
	        <span style="color:black;" class="nav-link" <%= logout %>>Signed in as <%= username %></span>
	      </li>
	      <li class="nav-item">
	        <a style="color:white;"  class="nav-link" href="/logout" <%= logout %>>Logout</a>
	      </li>
	    </ul>
	  </div>
	</nav>

<div class="container">

	<% if (error && error.length > 0){%>
		<div class="row" style="margin-top:10px;">
			<div class = "col-12">
				<div class="alert alert-danger" role="alert">
				  <%= error %>
				</div>
			</div>
		</div>
	<%}%>
	<% if (success && success.length > 0){%>
		<div class="row" style="margin-top:10px;">
			<div class = "col-12">
				<div class="alert alert-success" role="alert">
				  <%= success %>
				</div>
			</div>
		</div>
	<%}%>
</div>



<%- include ./login.ejs %>
<%- include ./signUp.ejs %>
