<%- include ./partials/header.ejs %>

<%
var href = "href=/campgrounds/new";
if(!login){
	href = "";
}
%>


<div class="container wrapper">
	<header class="jumbotron">
		<div class="container">
			<h1 class="name">Welcome to YelpCamp</h1>
			<p>View our hand-picked campgrounds from around the world</p>
			<p>
				<a role="button" class="btn btn-primary btn-lg" <%= href %> id="newCampground">Add a New Campground</a>
			</p>
		</div>
	</header>


	<%- include ./partials/indexNav.ejs %>



	<div class="index">
		<div class="row text-center" style="display:flex; flex-wrap:wrap"> 
			<% campgrounds.forEach(function(campground){%>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="img-fluid img-thumbnail">
						<img src="<%= campground.image %>">
						<div class="caption">
							<div class="row">
								<div class="col-8">
									<h4><%= campground.name %></h4>
								</div>
								<div class="col-4">
									<a href="/campgrounds/<%= campground._id %>"  role="button" class="btn btn-outline-info">Info</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			<% }); %>
		</div>
		
	</div>


	<%- include ./partials/indexNav.ejs %>
	<div id="margin"></div>
	<div class="push"></div>
</div>


<script src="/scripts/campgrounds.js"></script>

<%- include ./partials/footer.ejs %>